.scroll-form {
  overflow: auto;
  height: 80vh;
}
.scroll-form::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}
.scroll-form::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 20px;
}
.scroll-form::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 6px;
}
.scroll-form::-webkit-scrollbar-thumb:hover {
  background-color: rgb(158, 158, 158);
}
.Submit-button {
  margin-right: 2em;
  background-color: #f4f1f6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  width: 20rem;
  color: red;
  margin-left: 34%;
  text-align: left;
}

.container-div-form {
  background-color: white;
  padding: 2rem;
  margin: 2em;
  height: auto;
}
.container-div-form2 {
  background-color: white;
  padding: 2rem;
  margin: 2em;

  input[type="checkbox"] {
    width: 1em;
    height: 1em;
  }
}
::placeholder {
  color: #b3b3b3 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.container-ava {
  background-color: white;
  height: 6rem;
  margin: 2em;
  padding-top: 0.17em;
  .icon {
    color: gray;
    width: 3rem;
    height: 3rem;
    margin-left: 2.8rem;
    margin-top: 0.5rem;
  }
  input {
    margin-left: 2em;
  }
}
.footer {
  height: 2em;
}
.delete-button {
  display: none;
}
.form-width {
  width: 100% !important;
}
.ant-upload.ant-upload-select {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .scroll-form {
    overflow: auto;
    height: 70vh;
    font-size: 10px;
    h3 {
      font-size: 15px;
    }
    h5 {
      font-size: 13px;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .scroll-form {
    overflow: auto;
    height: 75vh;
  }
}
