.Sidebar-left-list {
  margin: 0;
  height: auto;
  padding: 0;
  width: 100%;
}
.report-row {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  padding-left: 10%;
}
.name-title {
  font-size: 15px;
}
.report-link {
  color: black;
}
.report-link:hover {
  text-decoration: none;
}
#actives {
  background: #f5f6f8;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}
