.main-report {
  min-height: 700px;
  background: white;
  width: 100%;
}
.title-salary-report {
  margin-left: 100px;
  padding-top: 50px;
  h5 {
    font-size: small;
  }
}
.main-title-salary {
  text-align: center;
  margin-top: 70px;
}
.second-title-salary {
  margin-top: 50px;
  padding-left: 50px;
}
.title-tax {
  width: 50%;
  height: 50px;
  padding-left: 1rem;
}
.second-after {
  margin-top: 30px;
  padding-left: 100px;
}
.tbl-width {
  margin-left: 100px;
  padding-left: 20px;
  width: 85%;
}
