body {
  margin: 0;
  padding: 0;
  background: #88bdbc;
}
.Sidebar {
  min-height: 100%;
  width: 100%;
  background-color: #28144b;
}
.sticky-top {
  top: 61px !important;
}
.SidebarList {
  margin: 0;
  height: auto;
  padding: 0;
  width: 100%;
}
.sticky-top {
  top: 59px !important;
}
.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.SidebarList .row:hover {
  cursor: pointer;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: yellow;
}
.SidebarList #active {
  background-color: #88bdbc;
}
#active {
  background-color: #88bdbc;
}
.link-item:hover{
    text-decoration: none;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}
