body {
  margin: 0;
  padding: 0;
}
.Sidebar {
  min-height: auto;
  width: 100%;
  background-color: #302c54;
  margin-top: 10%;
  padding-left: 10%;
}

.sticky-top {
  top: 61px !important;
}
.SidebarList {
  margin: 0;
  height: 800px;
  padding: 0;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #5d568d;
}
.sticky-top {
  top: 59px !important;
}
.SidebarList .row {
  width: auto;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 20px;
}
.SidebarList .row:hover {
  cursor: pointer;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: yellow;
}
.SidebarList #active {
  background-color: #f4f1f6;
  color: #302c54;
}
#active {
  background-color: #f4f1f6;
  color: #302c54;
}
.link-item:hover {
  text-decoration: none;
}
.row #icon {
  flex: 10%;
  display: grid;
  place-items: end;
}
.row #title {
  flex: 70%;
  padding-left: 20px;
}
.title-project {
  height: 100px;
  padding-left: 30%;
  padding-top: 10%;
}
