body {
  margin: 0;
  padding: 0;
  background: #88bdbc;
}
.Sidebar {
  min-height: auto;
  width: 100%;
  background-color: #28144b;
  margin-top: 10%;
  padding-left: 10%;
}
.sticky-top {
  top: 61px !important;
}
.SidebarList {
  margin: 0;
  height: 800px;
  padding: 0;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #6640a3;
}
.sticky-top {
  top: 59px !important;
}
.SidebarList .row {
  width: auto;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 20px;
}
.SidebarList .row:hover {
  cursor: pointer;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: yellow;
}
.SidebarList #active {
  background-color: #88bdbc;
}
.SidebarList .row::before{
  content: '';
  position: absolute;
  right: 0;
  left: 155px;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--green);
}
#active {
  background-color: #88bdbc;
}
.link-item:hover {
  text-decoration: none;
}
.row #icon {
  flex: 10%;
  display: grid;
  place-items: end;
}
.row #title {
  flex: 70%;
  padding-left: 20px;
}
.title-project{
  height: 100px;
  padding-left: 30%;
  padding-top: 10%;
}