body {
  margin: 0;
  padding: 0;
}
.Sidebar {
  min-height: auto;
  width: 100%;
  margin-top: 10%;
  padding-left: 10%;
  overflow: hidden;
  position: relative;
}
.Side-img {
  opacity: 0.2;
  position: absolute;
  // left: 10%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: 50px 0 0 50px;
}
.SidebarList {
  margin: 0;
  height: 93%;
  padding: 0;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #5f5490;
}

.sticky-top {
  top: 68px !important;
}
.SidebarList .row {
  position: relative;
  width: 288px;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 10;
}
.SidebarList :hover .row,
.SidebarList #actived .row {
  background-color: #f4f1f6;
  background-size: 50% auto;
  color: black;
}

.link-item:hover {
  text-decoration: none;
}
.row #icon {
  flex: 10%;
  padding-left: 30px;
}
.row .title-bar {
  flex: 70%;
  opacity: 1;
}

.title-project {
  height: 100px;
  padding-left: 30%;
  padding-top: 10%;
}
.btnmenu {
  position: absolute;
  color: #f4f1f6 !important;
  left: 85% !important;
  top: -45px !important;
  font-size: 20px;
  // height: 50px;
  // width: 50px;
  z-index: 6;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  pointer-events: all;
}
.change {
  width: 70px;
}
.SidebarList .changes {
  width: 70px;
}
.btnmenu-change {
  position: absolute;
  color: #f4f1f6 !important;
  left: 40% !important;
  top: -25px !important;
  font-size: 20px;
  // height: 50px;
  // width: 50px;
  z-index: 6;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  pointer-events: all;
}
.title-names {
  color: white;
}
.title-name2 {
  opacity: 0;
}
.titless {
  opacity: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 0;
    padding: 0;
  }
  .Sidebar {
    min-height: auto;
    width: 100%;
    margin-top: 10%;
    padding-left: 10%;
    overflow: hidden;
    position: relative;
  }
  .Side-img {
    opacity: 0.2;
    position: absolute;
    // left: 10%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50px 0 0 50px;
  }
  .SidebarList {
    margin: 0;
    height: 93%;
    padding: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #5f5490;
  }

  .sticky-top {
    top: 68px !important;
  }
  .SidebarList .row {
    position: relative;
    width: 288px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 10;
  }
  .SidebarList :hover .row,
  .SidebarList #actived .row {
    background-color: #f4f1f6;
    background-size: 50% auto;
    color: black;
  }

  .link-item:hover {
    text-decoration: none;
  }
  .row #icon {
    flex: 10%;
    padding-left: 30px;
  }
  .row .title-bar {
    flex: 70%;
    opacity: 1;
  }

  .title-project {
    height: 100px;
    padding-left: 30%;
    padding-top: 10%;
  }
  .btnmenu {
    position: absolute;
    color: #f4f1f6 !important;
    left: 85% !important;
    top: -45px !important;
    font-size: 20px;
    // height: 50px;
    // width: 50px;
    z-index: 6;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    pointer-events: all;
  }
  .change {
    width: 70px;
  }
  .SidebarList .changes {
    width: 70px;
  }
  .btnmenu-change {
    position: absolute;
    color: #f4f1f6 !important;
    left: 40% !important;
    top: -25px !important;
    font-size: 20px;
    // height: 50px;
    // width: 50px;
    z-index: 6;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    pointer-events: all;
  }
  .title-names {
    color: white;
  }
  .title-name2 {
    opacity: 0;
  }
  .titless {
    opacity: 0;
  }
}
// .tooltip {
//   position: absolute;
//   top: 50%;
//   left: 202px;
//   transform: translateY(-50%);
//   height: 35px;
//   line-height: 35px;
//   text-align: center;
//   border-radius: 6px;
//   width: 122px;
//   background: #f4f1f6;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   opacity: 0;
// }
// .SidebarList :hover .tooltip {
//   opacity: 1;
// }
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .Sidebar {
    min-height: auto;
    width: 100%;
    margin-top: 10%;
    padding-left: 10%;
    overflow: hidden;
    position: relative;
  }
  .Side-img {
    opacity: 0.2;
    position: absolute;
    // left: 10%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 50px 0 0 50px;
  }
  .SidebarList {
    margin: 0;
    height: 93%;
    padding: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #5f5490;
  }

  .sticky-top {
    top: 68px !important;
  }
  .SidebarList .row {
    position: relative;
    width: 288px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 10;
  }
  .SidebarList :hover .row,
  .SidebarList #actived .row {
    background-color: #f4f1f6;
    background-size: 50% auto;
    color: black;
  }

  .link-item:hover {
    text-decoration: none;
  }
  .row #icon {
    flex: 10%;
    padding-left: 30px;
  }
  .row .title-bar {
    flex: 70%;
    opacity: 1;
  }

  .title-project {
    height: 100px;
    padding-left: 30%;
    padding-top: 10%;
  }
  .btnmenu {
    position: absolute;
    color: #f4f1f6 !important;
    left: 85% !important;
    top: -45px !important;
    font-size: 20px;
    // height: 50px;
    // width: 50px;
    z-index: 6;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    pointer-events: all;
  }
  .change {
    width: 70px;
  }
  .SidebarList .changes {
    width: 70px;
  }
  .btnmenu-change {
    position: absolute;
    color: #f4f1f6 !important;
    left: 40% !important;
    top: -25px !important;
    font-size: 20px;
    // height: 50px;
    // width: 50px;
    z-index: 6;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    pointer-events: all;
  }
  .title-names {
    color: white;
  }
  .title-name2 {
    opacity: 0;
  }
  .titless {
    opacity: 0;
  }
}
