html,
body {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 100vw;
    height: auto;
    background-color: #88bdbc;
    margin: 0 !important;
    padding: 0;
    position: absolute;
}
.header {
    position: sticky;
    top: 0;
    z-index: 4;
}
.body-contents {
    display: flex;
    width: 100%;
    min-height: 100%;

    .menu-bar {
        min-height: 100%;
        width: 15%;
        z-index: 3;
    }
    .content {
        width: 85%;
        height: 100%;
        z-index: 2;
    }
}
