.container-div {
    background-color: white;
    padding: 2em;
    width: 60%;
    margin: auto;

    .profile-form {
        input {
            width: 20rem;
        }
    }
}
.setH2 {
    width: 60%;
    margin: auto;
}
.button {
    justify-content: center;
}
.message-e {
    width: 20rem;
    color: red;
    margin-left: 2%;
    text-align: left;
}
.container-password {
    text-align: center;
}
.password-toogle-icon {
    position: absolute;
    top: 18.5em;
    right: 47em;
    z-index: 1000;
    cursor: pointer;
}
.password-toogle-icon-np {
    position: absolute;
    top: 22.7em;
    right: 47em;
    z-index: 1000;
    cursor: pointer;
}
.password-toogle-icon-rp {
    position: absolute;
    top: 27em;
    right: 47em;
    z-index: 1000;
    cursor: pointer;
}
