.container-div {
    background-color: white;
    padding: 2em;
    width: 60%;
    margin: auto;

    .profile-form {
        input {
            width: 20rem;
        }
    }
}
.setH2 {
    width: 60%;
    margin: auto;
}
.button {
    justify-content: center;
}
.message-e {
    width: 20rem;
    color: red;
    margin-left: 2%;
    text-align: left;
}
