.main-screen-discipline {
  width: 100%;
  .first-main-discipline {
    width: 100%;
    display: flex;
    .first-path-discipline {
      width: 4%;
      font-size: 200%;
      padding-left: 0.5%;
    }
    .second-path-discipline {
      width: 75%;
    }
    .third-path-discipline {
      width: 15%;
      padding-top: 5px;
      .btn-fix-discipline {
        height: 36.5px;
        margin-right: 10px;
      }
    }
  }
  .second-main-discipline {
    background: white;
    min-height: 350px;
    width: 90%;
    margin: 3%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    .title-main-discipline {
      padding: 2%;
    }
    .second-main-path-discipline {
      margin-left: 2%;
    }
  }
}
.all-discipline {
  background: white;
  height: 100px !important;
  width: 90%;
  margin: 3%;
  margin-top: 1%;
  margin-left: 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
}
.name-move-discipline {
  width: 90%;
  padding: 2%;
}
.btn-move-discipline {
  width: 10%;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}
.btn-move-discipline:hover {
  background: #f5f5f0;
  padding-left: 4.5%;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main-screen-discipline {
    width: 100%;
    .first-main-discipline {
      width: 100%;
      display: flex;
      .first-path-discipline {
        width: 4%;
        font-size: 200%;
        padding-left: 0.5%;
      }
      .second-path-discipline {
        width: 65%;
        margin-left: 20px;
      }
      .third-path-discipline {
        width: 25%;
        padding-top: 5px;
        .btn-fix-discipline {
          height: 36.5px;
          margin-right: 10px;
        }
      }
    }
    .second-main-discipline {
      background: white;
      min-height: 300px;
      width: 90%;
      margin: 3%;
      margin-left: 4%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .title-main-discipline {
        padding: 2%;
      }
      .second-main-path-discipline {
        margin-left: 2%;
      }
    }
  }
  .all-discipline {
    background: white;
    height: 100px !important;
    width: 90%;
    margin: 3%;
    margin-top: 1%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }
  .name-move-discipline {
    width: 90%;
    padding: 2%;
    padding-top: 4%;
  }
  .btn-move-discipline {
    width: 10%;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 2%;
    color: rgb(100, 91, 91);
  }
  .btn-move-discipline:hover {
    background: #f5f5f0;
    padding-left: 4.5%;
  }
}
