.select-info {
    width: 96%;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 3em;
    // padding-right: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#title {
    width: 60%;
}
.roww {
    max-height: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.select-row2 {
    display: flex;
    margin: 1rem 2rem 0 2rem;
    label {
        max-width: 7rem;
        margin-right: 1rem;
        padding-top: 5px;
    }
}
.form-control {
    width: 12rem;
}

.row-btn {
    align-items: center;
    .btn {
        width: 15rem;
    }
}

.report-emp {
    width: 96%;
    height: 550px;
    overflow: auto;
    margin-top: 1em;
    // padding-right: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rp-herder {
    width: 100%;
    max-height: 200px;
    text-align: center;
    margin-top: 3rem;
}

.rp-herder b {
    font-size: 300%;
}

.rp-herder-left {
    width: 60%;
    margin-left: 6%;
}

.rp-table {
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
}

.button-pdf {
    width: 38px;
    height: 38px;
    background-color: #b80e0f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-right: 1rem;
}
.report-emp::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 20px;
}
.report-emp::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 20px;
}
.report-emp::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
    border-radius: 6px;
}
.report-emp::-webkit-scrollbar-thumb:hover {
    background-color: rgb(158, 158, 158);
}
