table body tr:hover td,
table body tr:hover th {
  background-color: rgb(175, 255, 199);

  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #fffdfd;
  color: #cfcfcf;
}

.table-sticky {
  overflow: auto;
  max-height: 600px;
}

th img {
  margin: 3px;
}
.table-sticky::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 20px;
}
.table-sticky::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 20px;
}
.table-sticky::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 6px;
}
.table-sticky::-webkit-scrollbar-thumb:hover {
  background-color: rgb(158, 158, 158);
}

.choose-col {
  position: absolute;
  display: block;
  overflow: auto;

  width: auto;
  max-height: 20rem;
  background-color: #e8e3ff;
  z-index: 1000;
  border-radius: 0.5rem;

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

  .item-chooseCol {
    align-items: center;
    margin-right: 1rem;
  }
}

.choose-col::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
.choose-col::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 20px;
}
.choose-col::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 6px;
}
.choose-col::-webkit-scrollbar-thumb:hover {
  background-color: rgb(158, 158, 158);
}

.herder-table {
  // border: 1px solid black;
  width: auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;

  // position: sticky;
  // top: 9.8rem;
  z-index: 1;
  border-radius: 1rem 1rem 0 0;
}

.select-fillter {
  display: flex;
  align-items: center;
}

.select {
  display: flex;
  align-items: center;
  
}

.select-item {
  cursor: pointer;
}

.select-item:hover {
  box-shadow: 0 0 2px 2px rgb(1, 132, 165);
}

.link-item {
  color: black;
}

.link-item:hover {
  color: orangered;
  text-decoration: none;
}

.search-table {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 2px 2px rgba(2, 93, 155, 0.6);
  transition: 0.8s ease-in-out;
  cursor: pointer;
  margin: 1rem;
}

// .thead-dark {
//     position: sticky;
//     top: 13.5rem;
// }

.search-input {
  width: 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  height: 80%;
  flex-grow: 1;
  transition: 0.8s ease-in-out;
}

input:focus {
  outline: none;
}

.icon-search {
  display: inline-flex;
  width: 2rem;
  height: 2rem;

  opacity: 0.6;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.search-table:hover {
  width: 20%;
  box-shadow: 0 0 2px 2px rgb(68, 166, 231);
}

.search-table:hover .search-input {
  margin-left: 1.5rem;
}
.button {
  display: flex;
  align-items: center;
}

.btn-fil {
  width: 2.3rem;
  height: 2.3rem;
  margin: 1rem;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgba(2, 93, 155, 0.6);
}

.btn-fil:hover {
  background-color: rgb(62, 148, 206);
  box-shadow: 0 0 2px 2px rgb(44, 47, 47);
}

.footer-table {
  width: auto;
  height: 5rem;
  display: flex;
  border-radius: 0 0 1rem 1rem;

  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(204, 204, 204);
  background-color: rgb(236, 236, 236);

  .f-table-left {
    display: flex;
    align-items: center;
    width: 30%;

    padding-left: 0.5rem;

    .select-item {
      margin-left: 0.5rem;
      width: 30%;
    }
  }

  .f-table-right {
    padding-right: 0.5rem;
    align-items: center;

    .btn-next-pre {
      width: 1.8rem;
      height: 1.8rem;
      margin: 0.2rem;

      opacity: 1;

      background-color: white;
      border: none;
    }

    .btn-next-pre:hover {
      background-color: rgb(200, 242, 250);
    }
  }
}
