.main-screen {
  width: 100%;
  .first-main {
    width: 100%;
    display: flex;
    .first-path {
      width: 4%;
      font-size: 200%;
      padding-left: 0.5%;
    }
    .second-path {
      width: 80%;
    }
    .third-path {
      width: 15%;
      .btn-fix {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .second-mains {
    background: white;
    min-height: 550px !important;
    width: 90%;
    margin: 3%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    .title-main {
      padding: 2%;
    }
    .second-main-path {
      margin-left: 2%;
    }
  }
}
.btn-back {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  background-color: transparent;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
  .icon-btn:hover {
    font-size: large;
  }
}
