.main-screen {
  width: 100%;
  .first-main {
    width: 100%;
    display: flex;
    .first-path {
      width: 4%;
      font-size: 200%;
      padding-left: 0.5%;
    }
    .second-path {
      width: 80%;
    }
    .third-path {
      width: 15%;
      .btn-fix {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .second-mains {
    background: white;
    min-height: 600px !important;
    width: 90%;
    margin: 3%;
    margin-bottom: 1%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    .title-main {
      padding: 2%;
    }
    .second-main-path {
      margin-left: 2%;
    }
  }
}
.btn-back {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  background-color: transparent;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
  .icon-btn:hover {
    font-size: large;
  }
}
.all-salary {
  background: white;
  height: 100px !important;
  width: 90%;
  margin: 3%;
  margin-top: 1%;
  margin-left: 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
}
.name-move-salary{
  width: 90%;
  padding: 2%;
}
.btn-move-salary {
  width: 10%;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}
.btn-move-salary:hover{
  background: #f5f5f0;
  padding-left: 4.5%;
}
