.container-div {
    background-color: white;
    padding: 2em;
    width: 60%;
    margin: auto;

    .profile-form {
        // input {
        //     width: 20rem;
        // }
    }
}
.input-container{
  
}
.setH2 {
    width: 60%;
    margin: auto;
}
.button {
    justify-content: center;
}
.message-e {
    width: 10rem !important;
    color: red;
    margin-left: 2%;
    margin-top: 2% !important;
    text-align: left;
}
.container-password {
    text-align: center;
}


