.Submit-button {
    margin-right: 2em;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message {
    width: 20rem;
    color: red;
    margin-left: 34%;
    text-align: left;
  }
  
  .container-div-form {
    background-color: white;
    padding: 2rem;
    margin: 2em;
    margin-top:0 ;
  }
  .container-salary{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        border:none;
        background-color:transparent;
    }
   .icon{
       width: 1.5em;
       height: 1.5em;
   }

    }
