.loginn {
  text-align: center;
  background-image: linear-gradient(201.75deg, rgba(2, 27, 251, 0.6) 32.47%, rgba(248, 95, 9, 0.34) 85.74%);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .form-login {
    background-color: rgba(255, 255, 255, 0.3);
    width: 45vw;
    height: 45vh;
    align-items: center;

    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    display: flex;

    .left-login {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

      opacity: 0.9;
      border-radius: 100%;

      width: 33%;
      height: 55%;
      margin: 0 0 0 8%;

      justify-content: center;
      align-items: center;

      img {
        margin-top: 0.4rem;
        width: 80%;
        height: 80%;
      }
    }

    .right-login {
      margin: 0 8% 0 16%;
      width: 50%;
      height: 400px;
      display: inline-block;

      .logo h1 {
        margin: 1.8rem;
        font-size: 50px;
        font-family: fantasy;

        color: #0c1295;

        opacity: 0.9;
      }

      .form-group {
        background-color: #e6e6e6;
        width: 100%;
        height: 15%;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        margin-bottom: 10px;

        input {
          font-size: 50px;
          width: 70%;
          height: 80%;
          border: none;
          font-size: 20px;

          background-color: transparent;
          flex-grow: 1;
          border-radius: 50px;
        }

        input:focus {
          outline: none;
        }

        span {
          display: inline-flex;
          width: 10%;
          margin-left: 5%;
          margin-bottom: 1%;

          justify-content: center;
          align-items: center;
          opacity: 0.7;

          font-size: 1.3rem;
        }
      }

      // .form-group span {

      // }
      input[type="submit"] {
        width: 100%;
        height: 18%;
        color: white;
        margin-top: 1rem;

        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;

        border-radius: 50px;
        border: none;
        background: #328de0;
        cursor: pointer;
      }
    }
  }
}
