.header-com{
    width: 100%;
    height: 100%;
    background: #28144B;
    position: sticky;
    top: 0;
    z-index: 2;
}
.name{
    height: auto;
    width: 20%;
}
.name h1{
    margin: 0;
    padding-left: 20%;
    padding-top: 3.5%;
    color: white;
}