
.header{
    width: 100vw;
    height: 15vh;
    background-color: #28144B;
}
.name{
    height: auto;
    width: 20%;
}
.name h1{
    margin: 0;
    padding-left: 30%;
    padding-top: 10%;
    color: white;
}