.container {
    display: block;
    width: 85%;
    height: 80%;

    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 5px;

    .link-item:hover {
        text-decoration: none;
    }
    .top {
        color: white;
        box-shadow: 0.2rem 0.3rem 0.3rem rgb(97, 96, 96);
        // background-color: rgba(27, 92, 173,1);

        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 75%;
        display: flex;

        .left {
            width: 60%;
            height: 100%;

            h3 {
                color: white;

                font-size: 500%;
                margin: 0.5rem 1rem 0 0.9rem;
                // opacity: 0.8;
            }

            h5 {
                color: white;
                font-size: 120%;
                margin: 0 0 0 1.5rem;
            }
        }

        .right {
            width: 40%;
            height: 100%;
            margin: 0 0 0 2rem;

            .big-icon {
                opacity: 0.8;
                font-size: 450%;
            }
        }
    }

    .bot {
        box-shadow: 0.2rem 0.3rem 0.3rem rgb(97, 96, 96);
        // background-color: rgba(95, 96, 136, 1);
        color: rgb(255, 255, 255);
        border-radius: 0 0 15px 15px;
        height: 25%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 110%;

        .small-icon {
            margin: 0 0 0 0.8rem;
            // opacity: 0.6;
        }
    }

    .bot:hover {
        font-size: 130%;
    }
}
