// .dash-board {
//     min-width: 99vw;
//     min-height: 99vh;
//     position: relative;
// }
// .sticky-top {
//     top: 61px !important;
// }

.header {
  width: auto;
  position: sticky;
  height: 3rem;
  top: 0;
  z-index: 100000;
}

.body-screen {
  background-color: #312b57;
  height: 100vh;
}

.body-contents {
  background-color: #f4f1f6;
  display: flex;
  width: 100%;
  height: 90vh;

  .menu-barss {
    width: 15%;
    background-color: #302c54;
    height: 100%;
  }
  .menu-bar2 {
    width: 3.7%;
  }

  .content {
    width: 85%;
    max-height: 860px;
    margin-top: 1px;
    margin-bottom: 1px;
    z-index: 10000;
  }
  .content2 {
    width: 96.3%;
  }
}
.btn:hover {
  background-color: rgb(62, 148, 206);
  box-shadow: 0 0 2px 2px rgb(52, 59, 54);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .body-screen {
    background-color: #312b57;
    height: 100vh;
  }
  .body-contents {
    background-color: #f4f1f6;
    display: flex;
    width: 100%;
    height: 90vh;

    .menu-barss {
      background-color: #302c54;
      height: 100%;
      width: 231px;
    }
    .menu-bar2 {
      width: 70px;
    }

    .content {
      width: 70%;
      max-height: 90%;
      margin-top: 1px;
      margin-bottom: 1px;
      z-index: 10000;
    }
    .content2 {
      width: 91%;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .body-screen {
    background-color: #312b57;
    height: 100vh;
  }
  .body-contents {
    background-color: #f4f1f6;
    display: flex;
    width: 100%;
    height: 90vh;

    .menu-barss {
      background-color: #302c54;
      height: 100%;
      width: 231px;
    }
    .menu-bar2 {
      width: 70px;
    }

    .content {
      width: 77%;
      max-height: 90%;
      margin-top: 1px;
      margin-bottom: 1px;
      z-index: 10000;
    }
    .content2 {
      width: 93%;
    }
  }
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .body-screen {
    background-color: #312b57;
    height: 100vh;
  }

  .body-contents {
    background-color: #f4f1f6;
    display: flex;
    width: 100%;
    height: 90vh;

    .menu-barss {
      width: 231px;
      background-color: #302c54;
      height: 100%;
      // transition: 0.3s;
    }
    .menu-bar2 {
      width: 70px;
    }

    .content {
      width: 85%;
      max-height: 860px;
      margin-top: 1px;
      margin-bottom: 1px;
      z-index: 10000;
    }
    .content2 {
      width: 96.3%;
    }
  }
}
