// .dash-board {
//     min-width: 99vw;
//     min-height: 99vh;
//     position: relative;
// }
// .sticky-top {
//     top: 61px !important;
// }

.header {
  width: auto;
  position: sticky;
  height: 3rem;
  top: 0;
  z-index: 100000;
}

.body-screen {
  background-color: #312B57;
  min-height: 100vh;
}

.body-contents {
  background-color: #f4f1f6;
  display: flex;
  width: 100%;
  height: 90vh;

  .menu-bar {
    background-color: #302c54;
    min-height: 100%;
    width: 15%;
  }

  .content {
    width: 85%;
    max-height: 860px;
    margin-top: 1px;
    margin-bottom: 1px;
    z-index: 10000;
  }
}
.btn:hover {
  background-color: rgb(62, 148, 206);
  box-shadow: 0 0 2px 2px rgb(52, 59, 54);
}

// .footer {
//   width: auto;
//   height: 1rem;
//   background: #302c54;
// }
