.Submit-button {
  margin-right: 2em;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sticky-top {
  //top: 100px;
}
.message {
  width: 20rem;
  color: red;
  margin-left: 34%;
  text-align: left;
}

.container-div-form {
  background-color: white;
  padding: 2rem;
  margin: 2em;
  margin-top: 0;
}
.btn-form {
  background-color: #3f51b5 !important;
}
