.item-dash-board {
    // border: 1px solid black;

    width: 100%;
    height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .item-da {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 25%;
    }
}

.excel-item {
    // border: 1px solid black;
    width: 50%;
    height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .item-da {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 50%;
    }
}

.two-table {
    // border: 1px solid black;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;

    .tablex {
        width: 47%;
        background-color: white;
        border-radius: 0.2rem;
        border-top: 3px solid rgb(156, 155, 155);
        border-bottom: 2px solid rgb(156, 155, 155);

        margin: 1rem;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    }
    // .table-one {
    //     margin-left: 1rem;
    //     margin-right: 1rem;
    // }
    // .table-two {
    //     margin-left: 1rem;
    //     margin-right: 1rem;
    // }
}
