.screen-table-nv {
    width: 100%;
    height: 100%;
}
.herder-content {
    // margin-right: 1em;
    width: 98%;
    max-height: 10%;
    background-color: white;
    padding: 0 0.5rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    margin-left: 1rem;
}

.table-nv {
    background-color: white;
    border-radius: 1rem;
    border-top: 2px solid rgb(156, 155, 155);
    border-bottom: 1px solid rgb(156, 155, 155);
    margin: 1rem;
}

.download-table-xls-button {
    background-color: rgb(16, 124, 65);
    color: white;

    width: 38px;
    height: 38px;
    margin: 1rem;

    border: none;
    border-radius: 4px;
}

.download-table-xls-button:hover {
    background-color: rgb(62, 148, 206);
    box-shadow: 0 0 2px 2px rgb(52, 59, 54);
}
.sticky-top {
    z-index: 5 !important;
}
