html {
  scroll-behavior: smooth;
}

.btn-back {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  background-color: transparent;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
}

.btn-back:hover {
  // background-color: rgb(62, 148, 206);
}

.contents {
  width: 100%;
  .first-information {
    width: 98%;
    min-height: 200px;
    background: whitesmoke;
    margin-top: 1em;
    margin-left: 0.7em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    .left-path {
      width: 20%;
      border: 1px solid red;
      .icons {
        font-size: 150%;
      }

      .icon-second {
        font-size: 300%;
        padding-left: 38%;
      }
      .names {
        padding-left: 9%;
      }
      .codes {
        padding-left: 42%;
      }
    }
    .middle-path {
      width: 70%;
      border: 1px solid green;
      .row-detail {
        width: 100%;
        p {
          font-size: x-small;
        }
        .col {
          padding-top: 4%;
          padding-left: 4%;
        }
      }
    }
    .right-path {
      width: 10%;
      border: 1px solid blue;
    }
  }
  .main-information {
    display: flex;
    width: 98%;
    margin: 0.6em;
    .left-header-information {
      margin-top: 0.5em;
      width: 17%;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .list-left {
        margin: 0;
        height: auto;
        padding: 0;
        padding-left: 5%;
        width: 100%;
        .row-left {
          list-style-type: none;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .right-information {
      margin-top: 0.5em;
      background: white;
      height: auto;
      width: 83%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 0;
      .form {
        width: 100%;
        height: auto;
        .big-title {
          width: 100%;
          height: 4em;
          display: flex;
          .name-title {
            width: 80%;
            h3 {
              padding: 3%;
            }
            .h3s {
              padding-bottom: 0;
            }
          }
          .arrow-button {
            width: 20%;
            padding: 2%;
            .iconss {
              transform: rotate(180deg);
            }
          }
        }
        .table {
          min-height: 100px;
          background: blue;
        }
        .title {
          width: 100%;
          height: 4em;

          h5 {
            padding: 3%;
          }
        }
        .main-title {
          z-index: 1;
          background: white;
        }
        .item {
          margin-top: 3%;
          margin-bottom: 3%;
        }
      }
    }
  }
}
