.contents {
  max-width: 100%;
  height: 100%;
  .first-information {
    width: 98%;
    height: 210px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 1em;
    margin-left: 0.7em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    .left-path {
      width: 20%;

      .icons {
        font-size: 150%;
        padding-left: 3%;
        padding-top: 0.1%;
      }
      .avatar {
        text-align: center;
        margin-right: 3%;
        .icon-second {
          width: 90px;
          height: 90px;
          margin-left: 35%;
          img {
            width: 90px;
            height: 90px;
          }
        }
        .names {
          padding-right: 2%;
          text-align: center;
        }
      }
    }
    .middle-path {
      width: 70%;

      .row-detail {
        width: 100%;
        .fast-information {
          font-size: smaller;
        }
        .col {
          padding-top: 4%;
          padding-left: 4%;
        }
      }
      .containn {
        margin-left: 0;
        width: 100%;
      }
    }
    .right-path {
      width: 10%;

      .btn {
        width: 50px;
        float: right;
        display: block;
        margin: 8%;
        margin-right: 30%;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .button-color {
        width: 40%;
      }
    }
  }
  .main-information {
    display: flex;
    width: 98%;
    // margin: 0.6em;
    margin-left: 0.6em;
    .left-header-information {
      margin-top: 0.5em;
      width: 17%;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      height: 600px;
      // margin-right: 0.5rem;
      .list-left {
        margin: 0;
        height: auto;
        padding: 0;
        padding-left: 5%;
        width: 100%;
        .row-left {
          list-style-type: none;
          margin-top: 20px;
          a {
            text-decoration: none;
            color: black;
            font-size: medium;
            padding-left: 5%;
          }
        }
      }
    }
    .right-information {
      right: 10px;
      flex: 7;
      margin-top: 0.5em;
      background: white;
      width: 90%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // border-radius: 10px;
      padding: 0;
      height: 600px;
      overflow: auto;
      .form {
        width: 100%;
        height: auto;
        .big-title {
          width: 100%;
          height: 4em;
          display: flex;
          .name-title {
            cursor: pointer;
            width: 80%;

            h3 {
              padding: 3%;
            }
            .h3s {
              padding-bottom: 0;
            }
          }
          .arrow-button {
            width: 20%;
            padding: 2%;
            .iconss {
              transform: rotate(180deg);
              color: black;
            }
            .iconsss {
              color: black;
            }
            .main-arrow-button {
              background: transparent;
              border: none;
              margin-left: 65%;
              font-size: medium !important;
            }
          }
        }

        .main-title {
          z-index: 1;
          background: white;
        }
        .item {
          margin-top: 3%;
          margin-bottom: 3%;
          width: 100%;
        }
      }
    }
    .right-information::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      border-radius: 20px;
    }
    .right-information::-webkit-scrollbar-track {
      background-color: #efefef;
      border-radius: 20px;
    }
    .right-information::-webkit-scrollbar-thumb {
      background-color: rgb(129, 129, 129);
      border-radius: 6px;
    }
    .right-information::-webkit-scrollbar-thumb:hover {
      background-color: rgb(158, 158, 158);
    }
  }
}
.table {
  display: block;
  min-height: 100px;
  margin-top: 2%;
}
.titles {
  width: 100%;
  height: 2em;
  .title-history {
    width: 100%;
    .title-names {
      padding-left: 4%;
      padding-top: 2%;
      font-size: medium;
    }
  }
}
.areas {
  border: 1px solid #dee2e6;
  min-height: 100px;
  margin-left: 2.5%;
  margin-right: 5%;
  margin-top: 2%;
  .area-history {
    margin-left: 2%;
  }
}
.title {
  width: 100%;
  height: 2em;
  display: flex;
  .title-cultural {
    width: 90%;
    .title-name {
      padding-left: 5%;
      padding-top: 1%;
    }
  }
  .icon-cultural {
    width: 10%;
    .btn-cultural {
      margin-top: 5%;
      border: none;
      background: none;
      color: #053bfc;
      font-size: large;
    }
    .btn-cultural:hover {
      font-size: medium;
    }
  }
  h5 {
    padding-left: 4%;
    padding-top: 1%;
  }
}
.btn-back {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  background-color: transparent;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contents {
    max-width: 100%;
    height: 100%;
    .first-information {
      width: 98%;
      height: 150px;
      background: rgba(255, 255, 255, 0.6);
      margin-top: 1em;
      margin-left: 0.7em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      .left-path {
        width: 20%;
        .icons {
          font-size: 120%;
          padding-left: 3%;
          padding-top: 0.1%;
        }
        .avatar {
          text-align: center;
          margin-right: 3%;
          .icon-second {
            width: 50px;
            height: 50px;
            margin-left: 45px;
            img {
              width: 50px;
              height: 50px;
            }
          }
          .names {
            padding-right: 2%;
            text-align: center;
            h5 {
              font-size: 10px;
            }
          }
        }
      }
      .middle-path {
        width: 70%;
        .row-detail {
          width: 100%;
          .fast-information {
            font-size: 8px;
          }
          .col {
            padding-top: 4%;
            padding-left: 7%;
          }
        }
        .containn {
          margin-left: 0;
          width: 100%;
        }
      }
      .right-path {
        width: 10%;

        .btn {
          float: right;
          display: block;
          margin: 8%;
          margin-right: 30%;
          margin-top: 30%;
          box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
          font-size: 10px;
        }
        .button-color {
          width: 40%;
        }
      }
    }
    .main-information {
      display: flex;
      width: 98%;
      height: 83%;
      // margin: 0.6em;
      margin-left: 0.6em;
      .left-header-information {
        margin-top: 0.5em;
        width: 192px;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 87%;
        // margin-right: 0.5rem;
        .list-left {
          margin: 0;
          height: auto;
          padding: 0;
          padding-left: 5%;
          width: 100%;
          .row-left {
            list-style-type: none;
            margin-top: 18px;
            a {
              text-decoration: none;
              color: black;
              font-size: 0.6em;
              padding-left: 5%;
            }
            h5 {
              margin-bottom: 0.4em;
            }
          }
        }
      }
      .right-information {
        right: 10px;
        flex: 7;
        margin-top: 0.5em;
        background: white;
        width: 90%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0;
        height: 572px;
        overflow: auto;
        .form {
          width: 100%;
          height: auto;
          .big-title {
            width: 100%;
            height: 4em;
            display: flex;
            .name-title {
              cursor: pointer;
              width: 80%;

              h3 {
                padding: 3%;
                font-size: 1em;
                margin: 0;
              }
              .h3s {
                padding-bottom: 0;
              }
            }
            .arrow-button {
              width: 20%;
              padding: 2%;
              .iconss {
                transform: rotate(180deg);
                color: black;
              }
              .iconsss {
                color: black;
              }
              .main-arrow-button {
                background: transparent;
                border: none;
                margin-left: 65%;
              }
            }
          }

          .main-title {
            z-index: 1;
            background: white;
          }
          .item {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 100%;
          }
        }
      }
      .right-information::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
      }
      .right-information::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
      }
    }
  }
  .title {
    width: 100%;
    height: 2em;
    display: flex;
    .title-cultural {
      width: 90%;
      .title-name {
        padding-left: 5%;
        padding-top: 1%;
      }
    }
    .icon-cultural {
      width: 10%;
      .btn-cultural {
        margin-top: 5%;
        border: none;
        background: none;
        color: #053bfc;
        font-size: small;
      }
      .btn-cultural:hover {
        font-size: medium;
      }
    }
    h5 {
      padding-left: 4%;
      padding-top: 1%;
      font-size: 0.9em;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .contents {
    max-width: 100%;
    height: 100%;
    .first-information {
      width: 98%;
      height: 150px;
      background: rgba(255, 255, 255, 0.6);
      margin-top: 1em;
      margin-left: 0.7em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      .left-path {
        width: 20%;
        .icons {
          font-size: 120%;
          padding-left: 3%;
          padding-top: 0.1%;
        }
        .avatar {
          text-align: center;
          margin-right: 3%;
          .icon-second {
            width: 50px;
            height: 50px;
            margin-left: 65px;
            img {
              width: 50px;
              height: 50px;
            }
          }
          .names {
            padding-right: 2%;
            text-align: center;
            h5 {
              font-size: 10px;
            }
          }
        }
      }
      .middle-path {
        width: 70%;
        .row-detail {
          width: 100%;
          .fast-information {
            font-size: 8px;
          }
          .col {
            padding-top: 4%;
            padding-left: 7%;
          }
        }
        .containn {
          margin-left: 0;
          width: 100%;
        }
      }
      .right-path {
        width: 10%;

        .btn {
          float: right;
          display: block;
          margin: 8%;
          margin-right: 30%;
          margin-top: 30%;
          box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
          font-size: 10px;
        }
        .button-color {
          width: 40%;
        }
      }
    }
    .main-information {
      display: flex;
      width: 98%;
      height: 83%;
      // margin: 0.6em;
      margin-left: 0.6em;
      .left-header-information {
        margin-top: 0.5em;
        width: 192px;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 87%;
        // margin-right: 0.5rem;
        .list-left {
          margin: 0;
          height: auto;
          padding: 0;
          padding-left: 5%;
          width: 100%;
          .row-left {
            list-style-type: none;
            margin-top: 18px;
            a {
              text-decoration: none;
              color: black;
              font-size: 0.6em;
              padding-left: 5%;
            }
            h5 {
              margin-bottom: 0.4em;
            }
          }
        }
      }
      .right-information {
        right: 10px;
        flex: 7;
        margin-top: 0.5em;
        background: white;
        width: 90%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0;
        height: 572px;
        overflow: auto;
        .form {
          width: 100%;
          height: auto;
          .big-title {
            width: 100%;
            height: 4em;
            display: flex;
            .name-title {
              cursor: pointer;
              width: 80%;

              h3 {
                padding: 3%;
                font-size: 1em;
                margin: 0;
              }
              .h3s {
                padding-bottom: 0;
              }
            }
            .arrow-button {
              width: 20%;
              padding: 2%;
              .iconss {
                transform: rotate(180deg);
                color: black;
              }
              .iconsss {
                color: black;
              }
              .main-arrow-button {
                background: transparent;
                border: none;
                margin-left: 65%;
              }
            }
          }

          .main-title {
            z-index: 1;
            background: white;
          }
          .item {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 100%;
          }
        }
      }
      .right-information::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
      }
      .right-information::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
      }
    }
  }
  .title {
    width: 100%;
    height: 2em;
    display: flex;
    .title-cultural {
      width: 90%;
      .title-name {
        padding-left: 5%;
        padding-top: 1%;
      }
    }
    .icon-cultural {
      width: 10%;
      .btn-cultural {
        margin-top: 5%;
        border: none;
        background: none;
        color: #053bfc;
        font-size: small;
      }
      .btn-cultural:hover {
        font-size: medium;
      }
    }
    h5 {
      padding-left: 4%;
      padding-top: 1%;
      font-size: 0.9em;
    }
  }
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .contents {
    max-width: 100%;
    height: 100%;
    .first-information {
      width: 98%;
      height: 210px;
      background: rgba(255, 255, 255, 0.6);
      margin-top: 1em;
      margin-left: 0.7em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      .left-path {
        width: 20%;

        .icons {
          font-size: 150%;
          padding-left: 3%;
          padding-top: 0.1%;
        }
        .avatar {
          text-align: center;
          margin-right: 3%;
          .icon-second {
            width: 90px;
            margin-left: 70px;
          }
          .names {
            padding-right: 2%;
            text-align: center;
          }
        }
      }
      .middle-path {
        width: 70%;

        .row-detail {
          width: 100%;
          .fast-information {
            font-size: smaller;
          }
          .col {
            padding-top: 4%;
            padding-left: 4%;
          }
        }
        .containn {
          margin-left: 0;
          width: 100%;
        }
      }
      .right-path {
        width: 10%;

        .btn {
          float: right;
          display: block;
          margin: 8%;
          margin-right: 30%;
          box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .button-color {
          width: 40%;
        }
      }
    }
    .main-information {
      display: flex;
      width: 98%;
      height: 68.5%;
      // margin: 0.6em;
      margin-left: 0.6em;
      .left-header-information {
        margin-top: 0.5em;
        width: 17%;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 97%;
        // margin-right: 0.5rem;
        .list-left {
          margin: 0;
          height: auto;
          padding: 0;
          padding-left: 5%;
          width: 100%;
          .row-left {
            list-style-type: none;
            margin-top: 8%;
            a {
              text-decoration: none;
              color: black;
              font-size: medium;
              padding-left: 5%;
            }
          }
        }
      }
      .right-information {
        right: 10px;
        flex: 7;
        margin-top: 0.5em;
        background: white;
        width: 90%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // border-radius: 10px;
        padding: 0;
        height: 525px;
        overflow: auto;
        .form {
          width: 100%;
          height: auto;
          .big-title {
            width: 100%;
            height: 4em;
            display: flex;
            .name-title {
              cursor: pointer;
              width: 80%;

              h3 {
                padding: 3%;
              }
              .h3s {
                padding-bottom: 0;
              }
            }
            .arrow-button {
              width: 20%;
              padding: 2%;
              .iconss {
                transform: rotate(180deg);
                color: black;
                transition: 0.3s !important;
              }
              .iconsss {
                color: black;
                transition: 0.3s !important;
              }
              .main-arrow-button {
                background: transparent;
                border: none;
                margin-left: 65%;
              }
            }
          }

          .main-title {
            z-index: 1;
            background: white;
          }
          .item {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 100%;
          }
        }
      }
      .right-information::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
      }
      .right-information::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
      }
      .right-information::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
      }
    }
  }
  .titles {
    width: 100%;
    height: 2em;
    .title-history {
      width: 100%;
      .title-names {
        padding-left: 4%;
        padding-top: 2%;
        font-size: medium;
      }
    }
  }
  .areas {
    border: 1px solid #dee2e6;
    min-height: 100px;
    margin-left: 2.5%;
    margin-right: 5%;
    margin-top: 2%;
    .area-history {
      margin-left: 2%;
    }
  }
  .title {
    width: 100%;
    height: 2em;
    display: flex;
    .title-cultural {
      width: 90%;
      .title-name {
        padding-left: 5%;
        padding-top: 1%;
      }
    }
    .icon-cultural {
      width: 10%;
      .btn-cultural {
        margin-top: 5%;
        border: none;
        background: none;
        color: #053bfc;
        font-size: large;
      }
      .btn-cultural:hover {
        font-size: medium;
      }
    }
    h5 {
      padding-left: 4%;
      padding-top: 1%;
    }
  }
  .btn-back {
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    background-color: transparent;

    opacity: 0.6;

    border: none;
    border-radius: 4px;
  }
}
.iconss {
  transform: rotate(180deg);
  color: black;
  transition: 0.3s !important;
}
.iconsss {
  color: black;
  transition: 0.3s !important;
}
.btn-edit-detail {
  margin: 20px !important;
  height: 40px !important;
}
