.item{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0;
    margin-left: 0;
}
.rows{
    margin-right: 10% !important;
}
.contains{
    margin-left: 0;
    width: 100%;
}
p{
    font-size: small;
}
.row-replace{
    margin-left: 0;
}