.scroll-form{
  overflow: auto;
  height: 750px;
}
.scroll-form::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}
.scroll-form::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 20px;
}
.scroll-form::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 6px;
}
.scroll-form::-webkit-scrollbar-thumb:hover {
  background-color: rgb(158, 158, 158);
}
.Submit-button {
  margin-right: 2em;
  background-color: #f4f1f6;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  width: 20rem;
  color: red;
  margin-left: 34%;
  text-align: left;
}

.container-div-form {
  background-color: white;
  padding: 2rem;
  margin: 2em;
  height: auto;
  
}
.container-div-form2 {
  background-color: white;
  padding: 2rem;
  margin: 2em;

  input[type="checkbox"] {
    width: 1em;
    height: 1em;
  }
}
.container-ava {
  background-color: white;
  height: 6rem;
  margin: 2em;
  padding-top: 0.17em;
  .icon {
    color: gray;
    width: 3rem;
    height: 3rem;
    margin-left: 2.8rem;
    margin-top: 0.5rem;
  }
  input {
    margin-left: 2em;
  }
}
.footer {
  height: 2em;
}
.delete-button {
  display: none;
}
.form-width{
  width: 100% !important;
}