.container-form {
    width: 100%;
    border: 1px solid black;
}

.profile-form {
    width: 83rem;
    border: 1px solid black;
}

.container-st {
    background-color: white;
    padding: 2rem;
    margin: 2em;
}

.container-sec {
    background-color: white;
    padding: 2rem;
    margin: 2em;
}

.container-th {
    background-color: white;
    padding: 2rem;
    margin: 2em;
}

.container-rd {
    background-color: white;
    padding: 2rem;
    margin: 2em;
}
