.dash-board {
    min-width: 99vw;
    min-height: 100vh;
    position: relative;
}

.header {
    width: auto;
    position: sticky;
    height: 10%;

    top: 0;
    z-index: 10;
}

.body-contents {
    background-color: rgb(136, 189, 188);
    display: flex;
    width: 100%;
    min-height: 93.7vh;

    .menu-bar {
        min-height: 100%;
        width: 15%;
    }

    .content {
        // border: 1px solid black;

        width: 90%;
        height: 100%;
        margin-top: 1%;
    }
}
