.Screen-dash-board {
    overflow: auto;
    max-height: 860px;
    width: 100%;

    background-color: #f4f1f6;
    // border-radius: 15px;
}
.Screen-dash-board::-webkit-scrollbar {
    width: 6px;
    // height: 6px;
    border-radius: 20px;
}
.Screen-dash-board::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 20px;
}
.Screen-dash-board::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
    border-radius: 6px;
}
.Screen-dash-board::-webkit-scrollbar-thumb:hover {
    background-color: rgb(158, 158, 158);
}
.item-dash-board {
    // border: 1px solid black;

    width: 100%;
    height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .item-da {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 30%;
    }
}

.excel-item {
    // border: 1px solid black;
    width: 50%;
    height: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .item-da {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 50%;
    }
}

.two-table {
    // border: 1px solid black;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;

    .tablex {
        width: 49%;
        background-color: white;
        border-radius: 1rem;

        margin: 0.2rem;

        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;
            color: rgb(62, 62, 95);
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 1023px) {
    .Screen-dash-board {
        overflow: auto;
        max-height: 780px;
        width: 100%;
        display: block;

        background-color: #f4f1f6;
        // border-radius: 15px;
    }
    .Screen-dash-board::-webkit-scrollbar {
        width: 6px;
        // height: 6px;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
    }

    .item-dash-board {
        width: 100%;
        height: 15rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .item-da {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 50%;
        }
    }

    .excel-item {
        // border: 1px solid black;
        width: 100%;
        height: 15rem;
        margin-top: 15rem;

        display: flex;
        align-items: center;
        justify-content: center;

        .item-da {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 80%;
            width: 50%;
        }
    }

    .two-table {
        // border: 1px solid black;
        width: 100%;
        margin-top: 2rem;
        display: block;
        justify-content: space-around;

        .tablex {
            width: 95%;
            background-color: white;
            border-radius: 1rem;

            margin: 1rem;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                color: rgb(62, 62, 95);
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .Screen-dash-board {
        overflow: auto;
        max-height: 780px;
        width: 100%;
        display: block;

        background-color: #f4f1f6;
        // border-radius: 15px;
    }
    .Screen-dash-board::-webkit-scrollbar {
        width: 6px;
        // height: 6px;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
    }

    .item-dash-board {
        width: 100%;
        height: 15rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .item-da {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 48%;
        }
    }
    .excel-item {
        // border: 1px solid black;
        width: 100%;
        margin-top: 15rem;
        height: 15rem;

        display: flex;
        align-items: center;
        justify-content: center;

        .item-da {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 45%;
        }
    }

    .two-table {
        // border: 1px solid black;
        width: 100%;
        margin-top: 2rem;
        display: block;
        justify-content: space-around;

        .tablex {
            width: 95%;
            background-color: white;
            border-radius: 1rem;

            margin: 2rem 1rem 1rem;

            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                color: rgb(62, 62, 95);
            }
        }
    }
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
    .Screen-dash-board {
        overflow: auto;
        max-height: 780px;
        width: 100%;
        display: block;

        background-color: #f4f1f6;
        // border-radius: 15px;
    }
    .Screen-dash-board::-webkit-scrollbar {
        width: 6px;
        // height: 6px;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 20px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb {
        background-color: rgb(129, 129, 129);
        border-radius: 6px;
    }
    .Screen-dash-board::-webkit-scrollbar-thumb:hover {
        background-color: rgb(158, 158, 158);
    }

    .item-dash-board {
        width: 100%;
        height: 15rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .item-da {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 25%;
        }
    }
}
