.main-screen-salary {
  width: 100%;
  .first-main-salary {
    width: 100%;
    display: flex;
    .first-path-salary {
      width: 4%;
      font-size: 200%;
      padding-left: 0.5%;
    }
    .second-path-salary {
      width: 75%;
    }
    .third-path-salary {
      width: 15%;
      padding-top: 5px;

      .btn-fix-salary {
        height: 36.5px;
        margin-right: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .second-mains-salary {
    background: white;
    height: 600px;
    width: 90%;
    margin: 3%;
    margin-bottom: 1%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    .title-main-salary {
      padding: 2%;
    }
    .second-main-path-salary {
      margin-left: 2%;
    }
  }
}
.btn-back {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 0.3rem 0.3rem 0.3rem;
  background-color: transparent;

  opacity: 0.6;

  border: none;
  border-radius: 4px;
  .icon-btn:hover {
    font-size: large;
  }
}
.all-salary {
  background: white;
  height: 100px !important;
  width: 90%;
  margin: 3%;
  margin-top: 1%;
  margin-left: 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
}
.name-move-salary {
  width: 90%;
  padding: 2%;
}
.btn-move-salary {
  width: 10%;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}
.btn-move-salary:hover {
  background: #f5f5f0;
  padding-left: 4.5%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-screen-salary {
    width: 100%;
    .first-main-salary {
      width: 100%;
      display: flex;
      .first-path-salary {
        width: 4%;
        font-size: 200%;
        padding-left: 0.5%;
      }
      .second-path-salary {
        width: 60%;
        margin-left: 20px;
      }
      .third-path-salary {
        width: 25%;
        padding-top: 5px;
        .btn-fix-salary {
          height: 36.5px;
          margin-right: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .second-mains-salary {
      background: white;
      height: 550px;
      width: 90%;
      margin: 3%;
      margin-bottom: 1%;
      margin-left: 4%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      overflow: auto;
      .title-main-salary {
        padding: 2%;
      }
      .second-main-path-salary {
        margin-left: 2%;
      }
    }
  }
  .btn-back {
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    background-color: transparent;

    opacity: 0.6;

    border: none;
    border-radius: 4px;
    .icon-btn:hover {
      font-size: large;
    }
  }
  .all-salary {
    background: white;
    height: 80px !important;
    width: 90%;
    margin: 3%;
    margin-top: 3%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }
  .name-move-salary {
    width: 90%;
    padding: 2%;
    padding-top: 4%;
  }
  .btn-move-salary {
    width: 10%;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 2%;
    color: rgb(100, 91, 91);
  }
  .btn-move-salary:hover {
    background: #f5f5f0;
    padding-left: 4.5%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .main-screen-salary {
    width: 100%;
    .first-main-salary {
      width: 100%;
      display: flex;
      .first-path-salary {
        width: 4%;
        font-size: 200%;
        padding-left: 0.5%;
      }
      .second-path-salary {
        width: 65%;
        margin-left: 20px;
      }
      .third-path-salary {
        width: 25%;
        padding-top: 5px;
        .btn-fix-salary {
          height: 36.5px;
          margin-right: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .second-mains-salary {
      background: white;
      height: 550px;
      width: 90%;
      margin: 3%;
      margin-bottom: 1%;
      margin-left: 4%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      overflow: auto;
      .title-main-salary {
        padding: 2%;
      }
      .second-main-path-salary {
        margin-left: 2%;
      }
    }
  }
  .btn-back {
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    background-color: transparent;

    opacity: 0.6;

    border: none;
    border-radius: 4px;
    .icon-btn:hover {
      font-size: large;
    }
  }
  .all-salary {
    background: white;
    height: 80px !important;
    width: 90%;
    margin: 3%;
    margin-top: 3%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }
  .name-move-salary {
    width: 90%;
    padding: 2%;
    padding-top: 2%;
  }
  .btn-move-salary {
    width: 10%;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 2%;
    color: rgb(100, 91, 91);
  }
  .btn-move-salary:hover {
    background: #f5f5f0;
    padding-left: 4.5%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .main-screen-salary {
    width: 100%;
    .first-main-salary {
      width: 100%;
      display: flex;
      .first-path-salary {
        width: 4%;
        font-size: 200%;
        padding-left: 0.5%;
      }
      .second-path-salary {
        width: 75%;
        margin-left: 20px;
      }
      .third-path-salary {
        width: 15%;
        padding-top: 5px;
        .btn-fix-salary {
          height: 36.5px;
          margin-right: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .second-mains-salary {
      background: white;
      height: 520px;
      width: 90%;
      margin: 3%;
      margin-bottom: 1%;
      margin-left: 4%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      .title-main-salary {
        padding: 2%;
      }
      .second-main-path-salary {
        margin-left: 2%;
      }
    }
  }
  .btn-back {
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    background-color: transparent;

    opacity: 0.6;

    border: none;
    border-radius: 4px;
    .icon-btn:hover {
      font-size: large;
    }
  }
  .all-salary {
    background: white;
    height: 100px !important;
    width: 90%;
    margin: 3%;
    margin-top: 1%;
    margin-left: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }
  .name-move-salary {
    width: 90%;
    padding: 2%;
    padding-top: 3%;
  }
  .btn-move-salary {
    width: 10%;
    padding: 0;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 2%;
    color: rgb(100, 91, 91);
  }
  .btn-move-salary:hover {
    background: #f5f5f0;
    padding-left: 4.5%;
  }
}
